@model IEnumerable<Renter>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Houses</th>
                <th>Lease Agreement IDs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var renter in Model)
            {
                <tr>
                    <td>@renter.RenterId</td>
                    <td>@renter.Name</td>
                    <td>@renter.Address</td>
                    <td>
                        @if (renter.House != null && renter.House.Images != null && renter.House.Images.Any())
                        {
                            <div class="row">
                                <div class="col-6">
                                    <a asp-controller="Renter" asp-action="DetailsForRenter" asp-route-id="@renter.House.HouseId" class="house-link">
                                        House @renter.House.HouseId
                                    </a>
                                </div>
                                <div class="col-6 text-right">
                                    @if (renter.House != null && renter.House.Images != null && renter.House.Images.Any())
                                    {
                                        var firstImage = renter.House.Images.FirstOrDefault();
                                        if (firstImage != null)
                                        {
                                            <img src="@firstImage.ImageUrl" alt="House Image" class="img-thumbnail" style="max-width: 100px; max-height: 100px;" />
                                        }
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <p>No House available</p>
                        }
                    </td>
                    <td>
                        <a asp-action="Update" asp-route-id="@renter.RenterId" class="btn btn-sm btn-primary">Update</a>
                        <a asp-action="Delete" asp-route-id="@renter.RenterId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>
        <a class="btn btn-secondary" asp-controller="Renter" asp-action="CreateNewRenter">Create New Renter</a>
    </p>
</div>
